# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Dagster
.dagster/
.dagster_home/
dagster_home/
tmpdir/
.tmp_dagster_home*/

# dbt
dbt_packages/
target/
logs/

# OS
.DS_Store

reports/*